.App {
  text-align: center;
}

.App-logo {
  animation: sway1 infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes sway1 {
  0%, 100% { transform: rotate(-10deg); }
  50% { transform: rotate(8deg); }
}
