#asleep-btn {
    width: 170px !important;
    height: 170px !important;
    background-color: #B2A6FF !important;
    border-radius: 100px !important;
    color: white !important;
    text-align: center !important;
    margin: 5px !important;
}
