#awake-btn {
    width: 170px !important;
    height: 170px !important;
    border: none !important;
    background-color: #B2A6FF;
    color: white !important;
    border-radius: 15px !important;
    text-align: center !important;
    margin: 5px !important;
}
