.password-form-input {
    display: grid;
    place-items: center;
}

.username-div {
    display: grid !important;
    place-items: center !important;
}

.form-label {
    display: grid ;
    place-items: center ;
}
