#sleep-btn {
    width: 100% !important;
    height: 50px !important;
    background-color: #B2A6FF !important;
    border-radius: 0px !important;
    color: white !important;
    text-align: center !important;
}
