#play-btn {
    width: 170px !important;
    height: 170px !important;
    border: none !important;
    background-color: #FFDB66;
    color: white !important;
    border-radius: 100px !important;
    text-align: center !important;
    margin: 5px !important;
}
